<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>BOOKSTORE</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="../../assets/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="../../assets/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="../../assets/css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="../../assets/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="../../assets/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="../../assets/css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	<link rel="icon" type="image/x-icon" href="../../assets/img/B.png">

</head>

<body>
	<!-- HEADER -->
	<header>
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<div id="navigation">
	</div>
	<!-- /NAVIGATION -->

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div id="main-section" class="section">
		<!-- container -->
		
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div id="section1" class="section">
		<!-- container -->
	</div>
	<!-- /section -->

		<!-- section -->
	<div id="section2" class="section">
		<!-- container -->
	</div>
	<!-- /section -->

	<!-- FOOTER -->
	<footer id="footer" class="section section-grey">
	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/bootstrap.min.js"></script>
	<script src="../../assets/js/slick.min.js"></script>
	<script src="../../assets/js/nouislider.min.js"></script>
	<script src="../../assets/js/jquery.zoom.min.js"></script>
	<script src="../../assets/js/main.js"></script>

	<!-- Thêm vào script tướng cho một trang product-page -->
	<script>var proName = 'bv8.html';</script>
	<script>var urlToIndex = '../';</script>
	<script src="../../assets/js/books.js"></script>
	<script src="../../assets/js/loadBars.js"></script>
	<script src="../../assets/js/product-page/loadProductPage.js"></script>
	

</body>

</html>