<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>BOOKSTORE.COM</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="../assets/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="../assets/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="../assets/css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="../assets/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="../assets/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="../assets/css/style.css" />
	<link rel="stylesheet" href="../assets/css/index.css">
	<link rel="icon" type="image/x-icon" href="../assets/img/B.png">
</head>

<body>
	<!-- HEADER -->
	<header>
		<!-- header -->
		<div id="header">
			<div class="container">
				<div class="pull-left">
					<!-- Logo -->
					<div class="header-logo">
						<a class="logo" href="index.html">
							<img src="../assets/img/logo.png" alt="">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Search -->
					<div class="header-search">
						<form>
							<input class="input search-input" type="text" placeholder="Search entire store here...">

							<button class="search-btn">
								<i class="fa fa-search"></i>
							</button>
						</form>
					</div>
					<!-- /Search -->
				</div>
				<div class="pull-right">
					<ul class="header-btns">
						<!-- Account -->
						<li class="header-account dropdown default-dropdown">
							<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
								<div class="header-btns-icon">
									<i class="fa fa-user-o"></i>
								</div>
								<strong class="text-uppercase">Tài khoản
									<i class="fa fa-caret-down"></i>
								</strong>
							</div>
							<a href="./login.html" class="text-uppercase">Login</a> /
							<a href="./register.html" class="text-uppercase">Join</a>
							<ul class="custom-menu">
								<li>
									<a href="../app/account/info.html">
										<i class="fa fa-user-o"></i> THÔNG TIN</a>
								</li>
								<li>
									<a href="./checkout.html">
										<i class="fa fa-shopping-cart"></i> QUẢN LÝ GIỎ HÀNG</a>
								</li>
								<li>
									<a href="./checkout.html">
										<i class="fa fa-check"></i> THANH TOÁN</a>
								</li>
								<li>
									<a href="./account/history.html">
										<i class="fa fa-history"></i> LỊCH SỬ MUA HÀNG</a>
								</li>
							</ul>
						</li>
						<!-- /Account -->

						<!-- Cart -->
						<li class="header-cart dropdown default-dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
								<div id="qty" class="header-btns-icon">
									<i class="fa fa-shopping-cart"></i>
									
								</div>
								<strong class="text-uppercase">Giỏ Hàng</strong>
								<br>
								<div id="totalcost">
									
								</div>
							</a>
							<div class="custom-menu">
								<div id="shopping-cart">
									<div id="cart" class="shopping-cart-list">

									</div>
									<div class="shopping-cart-btns">
										<a href="./checkout.html" class="main-btn">View Cart</a>
										<a href="./checkout.html" class="primary-btn">Checkout
											<i class="fa fa-arrow-circle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</li>
						<!-- /Cart -->
						<!-- Mobile nav toggle-->
						<li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn">
								<i class="fa fa-bars"></i>
							</button>
						</li>
						<!-- / Mobile nav toggle -->
					</ul>
				</div>
			</div>
			<!-- header -->
		</div>
		<!-- container -->
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
				<div class="category-nav">
					<span class="category-header">DANH MỤC
						<i class="fa fa-list"></i>
					</span>
					<ul class="category-list">
						<li class="dropdown side-dropdown">
							<a href="products/thieunhi.html" class="dropdown-toggle" aria-expanded="true">THIẾU NHI</a>
						</li>
						<li class="dropdown side-dropdown">
							<a href="products/ngoaingu.html" class="dropdown-toggle" aria-expanded="true">NGOẠI NGỮ</a>
						</li>
						<li class="dropdown side-dropdown">
							<a href="products/vanhoc.html" class="dropdown-toggle" aria-expanded="true">VĂN HỌC</a>

						</li>
						<li class="dropdown side-dropdown">
							<a href="products/kinhte.html" class="dropdown-toggle" aria-expanded="true">KINH TẾ</a>
						</li>
						<li class="dropdown side-dropdown">
							<a href="products/khac.html" class="dropdown-toggle" aria-expanded="true">KHÁC</a>

						</li>

					</ul>
				</div>
				<!-- /category nav -->

				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu
						<i class="fa fa-bars"></i>
					</span>
					<ul class="menu-list">
						<li>
							<a href="javascript:;">DAILY DEALS</a>
						</li>
					</ul>
				</div>
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->

	<!-- HOME -->
	<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">

				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section-title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">sách mới nhất</h2>
						<div class="pull-right">
							<div class="product-slick-dots-1 custom-dots"></div>
						</div>
					</div>
				</div>
				<!-- /section-title -->

				<!-- Product Slick -->
				<div class="col-md-12 col-sm-6 col-xs-6">
					<div class="row">
						<div id="product-slick-1" class="product-slick">

						</div>
					</div>
				</div>
				<!-- /Product Slick -->
			</div>
			<!-- /row -->

			<!-- row -->
			<div class="row">
				<!-- section-title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">sách bán chạy nhất</h2>
						<div class="pull-right">
							<div class="product-slick-dots-2 custom-dots"></div>
						</div>
					</div>
				</div>
				<!-- /section-title -->

				<!-- Product Slick -->
				<div class="col-md-12 col-sm-6 col-xs-6">
					<div class="row">
						<div id="product-slick-2" class="product-slick">

						</div>
					</div>
				</div>
				<!-- /Product Slick -->
			</div>
			<!-- /row -->

			<!-- row -->
			<div class="row">
				<!-- section-title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">sách được xem nhiều nhất</h2>
						<div class="pull-right">
							<div class="product-slick-dots-3 custom-dots"></div>
						</div>
					</div>
				</div>

				<!-- Product Slick -->
				<div class="col-md-12 col-sm-6 col-xs-6">
					<div class="row">
						<div id="product-slick-3" class="product-slick">
						</div>
					</div>
				</div>
				<!-- /Product Slick -->
			</div>
			<!-- row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->


	<div class="section">
		<!-- container -->
		<div class="container">


			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<ul id="nxb" class="list-links3" style="padding-left: 22px;">
					</ul>
				</div>
			</div>
			<!-- /row -->


		</div>
		<!-- /container -->
	</div>
	<!-- FOOTER -->
	<footer id="footer" class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<!-- footer logo -->
						<div class="footer-logo">
							<a class="logo" href="./index.html">
								<img src="../assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- /footer logo -->

						<p>Tòa nhà I Town, 227 Nguyễn Văn Cừ Quận 5 TP HCM</p>
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">dịch vụ</h3>
						<ul class="list-links">
							<li>
								<a href="javascript:;">Điều khoản sử dụng</a>
							</li>
							<li>
								<a href="javascript:;">chính sách bảo mật</a>
							</li>
							<li>
								<a href="javascript:;">Giới thiệu BookStore</a>
							</li>
							<li>
								<a href="javascript:;">Hệ thống trung tâm - nhà sách</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<div class="clearfix visible-sm visible-xs"></div>

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Hỗ trợ</h3>
						<ul class="list-links">
							<li>
								<a href="javascript:;">Chính sách đổi - trả</a>
							</li>
							<li>
								<a href="javascript:;">Chính sách khách sỉ</a>
							</li>
							<li>
								<a href="javascript:;">Phương thức vận chuyển</a>
							</li>
							<li>
								<a href="javascript:;">Phương thức thanh toán</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->
				<!-- footer subscribe -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">liên hệ</h3>
						<ul class="list-links">
							<li>
								<a href="javascript:;">
									<i class="fa fa-map-marker">&nbsp;&nbsp;&nbsp;</i>227 Nguyễn Văn Cừ Quận 5 TP HCM
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<i class="fa fa-envelope">&nbsp;&nbsp;</i>bookstore@gmail.com
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<i class="fa fa-facebook-square">&nbsp;&nbsp;</i>facebook.com/bookstore
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<i class="fa fa-phone-square">&nbsp;&nbsp;</i>19001000
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- /footer subscribe -->
			</div>
			<!-- /row -->
			<hr>
			<!-- row -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- footer copyright -->
					<div class="footer-copyright">
						THE BEST ONLINE BOOK STORE FOR YOU - BOOKSTORE WITH LOVE
					</div>
					<!-- /footer copyright -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->

	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>
	<script src="../assets/js/index.js"></script>
	
	<script src="../assets/js/slick.min.js"></script>
	<script src="../assets/js/nouislider.min.js"></script>
	<script src="../assets/js/jquery.zoom.min.js"></script>
	
	<script src="../assets/js/main.js"></script>

</body>

</html>