<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>BOOKSTORE.COM</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="../../assets/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="../../assets/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="../../assets/css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="../../assets/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="../../assets/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="../../assets/css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	<link rel="icon" type="image/x-icon" href="../../assets/img/B.png">
</head>

<body>
	<!-- HEADER -->
	<header>
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<div id="navigation">

	</div>
	<!-- /NAVIGATION -->

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li>
					<a href="">Home</a>
				</li>
				<li>
					<a>Category</a>
				</li>
				<li class='active'>Thiếu Nhi</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div id="section" class="section">
		<!-- container -->
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div id="aside" class="col-md-3">
					<!-- aside widget -->
					<div class="aside">
						<img style="max-width: 100%" class="img-a" src="../../assets/img/aside/01.jpg" alt="">
					</div>
					<div class="aside">
						<img style="max-width: 100%" class="img-a" src="../../assets/img/aside/02.jpg" alt="">
					</div>

				</div>

				<!-- MAIN -->
				<div id="main" class="col-md-9">
					<!-- store top filter -->
					<div class="store-filter clearfix">
						<div class="pull-right">
							<div class="page-filter">
								<span class="text-uppercase">Show:</span>
								<select class="input">
									<!-- <option value="0">9</option>-->
								</select>
							</div>
							<ul class="store-pages">
								<li>
									<span class="text-uppercase">Page:</span>
								</li>
								<span id="page-number">
									<!-- Page number -->
								</span>
								<li>
									<a href="#">
										<i class="fa fa-caret-right"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- /store top filter -->

					<!-- STORE -->
					<div id="store">
						<!-- row -->
						<div class="row">
							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											<span class="sale">
												-34%
											</span>
										</div>
										<a href="">
											<img src="../../assets/img/sachthieunhi/thieunhi-01.jpg" alt="">
										</a>
									</div>
									<div class="product-body">
										<h3 class="product-price">
											<a>196.020đ </a>
											<del class="product-old-price">297.000đ</del>
										</h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h2 class="product-name">
											<a href="../product-page/10.html">Chuyện Ông Gióng</a>
										</h2>
										<div class="product-btns" style="text-align: right">
											<button class="primary-btn add-to-cart" id="1">
												<i class="fa fa-shopping-cart"></i> Add to Cart</button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->
							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											<span class="sale">
												-34%
											</span>
										</div>
										<a href="">
											<img src="../../assets/img/sachthieunhi/thieunhi-01.jpg" alt="">
										</a>
									</div>
									<div class="product-body">
										<h3 class="product-price">
											<a>196.020đ </a>
											<del class="product-old-price">297.000đ</del>
										</h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h2 class="product-name">
											<a href="../product-page/10.html">Chuyện Ông Gióng</a>
										</h2>
										<div class="product-btns" style="text-align: right">
											<button class="primary-btn add-to-cart" id="1">
												<i class="fa fa-shopping-cart"></i> Add to Cart</button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->

							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											<span class="sale">
												-34%
											</span>
										</div>
										<a href="">
											<img src="../../assets/img/sachthieunhi/thieunhi-01.jpg" alt="">
										</a>
									</div>
									<div class="product-body">
										<h3 class="product-price">
											<a>196.020đ </a>
											<del class="product-old-price">297.000đ</del>
										</h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h2 class="product-name">
											<a href="../product-page/10.html">Chuyện Ông Gióng</a>
										</h2>
										<div class="product-btns" style="text-align: right">
											<button class="primary-btn add-to-cart" id="1">
												<i class="fa fa-shopping-cart"></i> Add to Cart</button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->

							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											<span class="sale">
												-34%
											</span>
										</div>
										<a href="">
											<img src="../../assets/img/sachthieunhi/thieunhi-01.jpg" alt="">
										</a>
									</div>
									<div class="product-body">
										<h3 class="product-price">
											<a>196.020đ </a>
											<del class="product-old-price">297.000đ</del>
										</h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h2 class="product-name">
											<a href="../product-page/10.html">Chuyện Ông Gióng</a>
										</h2>
										<div class="product-btns" style="text-align: right">
											<button class="primary-btn add-to-cart" id="1">
												<i class="fa fa-shopping-cart"></i> Add to Cart</button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->

							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											<span class="sale">
												-34%
											</span>
										</div>
										<a href="">
											<img src="../../assets/img/sachthieunhi/thieunhi-01.jpg" alt="">
										</a>
									</div>
									<div class="product-body">
										<h3 class="product-price">
											<a>196.020đ </a>
											<del class="product-old-price">297.000đ</del>
										</h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h2 class="product-name">
											<a href="../product-page/10.html">Chuyện Ông Gióng</a>
										</h2>
										<div class="product-btns" style="text-align: right">
											<button class="primary-btn add-to-cart" id="1">
												<i class="fa fa-shopping-cart"></i> Add to Cart</button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->

							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											<span class="sale">
												-34%
											</span>
										</div>
										<a href="">
											<img src="../../assets/img/sachthieunhi/thieunhi-01.jpg" alt="">
										</a>
									</div>
									<div class="product-body">
										<h3 class="product-price">
											<a>196.020đ </a>
											<del class="product-old-price">297.000đ</del>
										</h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h2 class="product-name">
											<a href="../product-page/10.html">Chuyện Ông Gióng</a>
										</h2>
										<div class="product-btns" style="text-align: right">
											<button class="primary-btn add-to-cart" id="1">
												<i class="fa fa-shopping-cart"></i> Add to Cart</button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->

							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											<span class="sale">
												-34%
											</span>
										</div>
										<a href="">
											<img src="../../assets/img/sachthieunhi/thieunhi-01.jpg" alt="">
										</a>
									</div>
									<div class="product-body">
										<h3 class="product-price">
											<a>196.020đ </a>
											<del class="product-old-price">297.000đ</del>
										</h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h2 class="product-name">
											<a href="../product-page/10.html">Chuyện Ông Gióng</a>
										</h2>
										<div class="product-btns" style="text-align: right">
											<button class="primary-btn add-to-cart" id="1">
												<i class="fa fa-shopping-cart"></i> Add to Cart</button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->



						</div>
						<!-- /row -->
					</div>
					<!-- /STORE -->

					<!-- store bottom filter -->
					<div class="store-filter clearfix">
						<div class="pull-right">
							<div class="page-filter">
								<span class="text-uppercase">Show:</span>
								<select class="input">
									<!-- <option value="0">9</option>-->
								</select>
							</div>
							<ul class="store-pages">
								<li>
									<span class="text-uppercase">Page:</span>
								</li>
								<span id="page-number">
									<!-- Page number -->
								</span>
								<li>
									<a href="">
										<i class="fa fa-caret-right"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- /store bottom filter -->
				</div>
				<!-- /MAIN -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- FOOTER -->
	<footer id="footer" class="section section-grey">
		<!-- container -->
	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->

	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/bootstrap.min.js"></script>
	<script src="../../assets/js/slick.min.js"></script>
	<script src="../../assets/js/nouislider.min.js"></script>
	<script src="../../assets/js/jquery.zoom.min.js"></script>
	<script src="../../assets/js/main.js"></script>

	<!-- Thêm vào script tướng cho một trang products -->
	<script>var htmlType = "category"; var proName = "Thiếu Nhi";</script>
	<script>var urlToIndex = '../';</script>
	<script src="../../assets/js/books.js"></script>
	<script src="../../assets/js/loadBars.js"></script>
</body>

</html>